---
import GitHubIcon from '../components/icons/github.astro';
import Astroicon from './icons/astroicon.astro';
import Tailwind from './icons/tailwind.astro';
import Javascript from './icons/javascript.astro';
import Bootstrap from './icons/bootstrap.astro';
import Html from './icons/html.astro';
import Sass from './icons/sass.astro';
import Css from './icons/css.astro';
import Vscode from './icons/vscode.astro';
import Link from './icons/link.astro';

const TAGS = {
	ASTRO: {
		name: 'Astro',
		class: 'bg-[#202938] text-white',
		icon: Astroicon,
	},
	TAILWIND: {
		name: 'Tailwind',
		class: 'bg-[#202938] text-white',
		icon: Tailwind,
	},
	JAVASCRIPT: {
		name: 'JavaScript',
		class: 'bg-[#202938] text-white',
		icon: Javascript,
	},
	BOOTSTRAP: {
		name: 'Bootstrap',
		class: 'bg-[#202938] text-white',
		icon: Bootstrap,
	},
	HTML: {
		name: 'HTML',
		class: 'bg-[#202938] text-white',
		icon: Html,
	},
	SASS: {
		name: 'Sass',
		class: 'bg-[#202938] text-white',
		icon: Sass,
	},
	CSS: {
		name: 'CSS',
		class: 'bg-[#202938] text-white',
		icon: Css,
	},
	VSCODE: {
		name: 'VSCode',
		class: 'bg-[#202938] text-white',
		icon: Vscode,
	},
};

const PROJECTS = [
	{
		title: 'One Dark Vibrant Theme',
		description:
			'One Dark Vibrant Theme es un tema vibrante y colorido para Visual Studio Code, basado en el popular One Dark, con tonos brillantes y una experiencia visual mejorada.',
		link: 'https://marketplace.visualstudio.com/items?itemName=josergz.one-dark-vibrant-theme',
		github: 'https://github.com/josergz/one-dark-vibrant-theme',
		image: {
			src: '/img/vscodetheme-preview-1200.avif',
			srcset:
				'/img/vscodetheme-preview-600.webp 600w, /img/vscodetheme-preview-800.webp 800w, /img/vscodetheme-preview-1200.avif 1200w',
		},
		tags: [TAGS.VSCODE],
	},
	{
		title: 'Portafolio de Programador Web',
		description:
			'Este es mi portafolio personal donde muestro mis habilidades como desarrollador web. Utilizo Astro para la estructura y Tailwind para el dise帽o, creando una experiencia optimizada y r谩pida para los usuarios.',
		link: 'https://portfolio-one-khaki-21.vercel.app/',
		github: 'https://github.com/josergz/portfolio',
		image: {
			src: '/img/portfolio-preview-1200.webp',
			srcset:
				'/img/portfolio-preview-600.webp 600w, /img/portfolio-preview-800.webp 800w, /img/portfolio-preview-1200.webp 1200w',
		},
		tags: [TAGS.ASTRO, TAGS.TAILWIND],
	},
	{
		title: 'Weather App',
		description:
			'Weather App es una aplicaci贸n del clima que usa una API en tiempo real para mostrar el clima actual y pron贸sticos en una interfaz minimalista y limpia.',
		link: 'https://weather-app-itsr.vercel.app/',
		github: 'https://github.com/josergz/weather_app',
		image: {
			src: '/img/weather-preview-1200.webp',
			srcset:
				'/img/weather-preview-600.webp 600w, /img/weather-preview-800.webp 800w, /img/weather-preview-1200.webp 1200w',
		},
		tags: [TAGS.JAVASCRIPT, TAGS.BOOTSTRAP],
	},
	{
		title: 'Advice Generator',
		description:
			'Advice Generator es una aplicaci贸n que genera consejos aleatorios de una API, con un dise帽o simple y limpio que utiliza HTML, SASS y JavaScript.',
		link: 'https://advice-generator-app-lemon.vercel.app/',
		github: 'https://github.com/josergz/advice-generator-app',
		image: {
			src: '/img/advice-preview-1200.webp',
			srcset:
				'/img/advice-preview-600.webp 600w, /img/advice-preview-800.webp 800w, /img/advice-preview-1200.webp 1200w',
		},
		tags: [TAGS.HTML, TAGS.CSS, TAGS.SASS, TAGS.JAVASCRIPT],
	},
];
---

<section class="flex flex-col w-full space-y-10 p-4 md:p-10">
	<h1 id="projects" class="text-center font-semibold text-3xl text-gray-200">
		 Proyectos
	</h1>
	<div class="flex flex-col gap-8 m-auto justify-center w-full">
		{
			PROJECTS.map(({ image, title, description, tags, link, github }) => (
				<article class="group flex flex-col lg:flex-row bg-[#1E1E1E] border-gray-600 rounded-lg overflow-hidden shadow-md transition-all duration-300 hover:shadow-lg w-full mx-auto">
					<div class="lg:w-1/2 w-full overflow-hidden">
						<img
							loading="lazy"
							src={image.src}
							srcset={image.srcset}
							sizes="
								(max-width: 600px) 600px, 
								(max-width: 1024px) 800px, 
								1200px
							"
							alt={`Vista previa de ${title}`}
							class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-110 group-focus:scale-110"
						/>
					</div>

					<div class="flex flex-col flex-1 p-6 lg:p-8 lg:w-1/2">
						<h1 class="text-xl font-semibold text-gray-200">{title}</h1>
						<div class="flex gap-2 flex-wrap mt-3">
							<ul class="flex flex-row mb-2 gap-x-2">
								{tags.map((tag) => (
									<li>
										<span
											class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
										>
											<tag.icon class="size-4" />
											{tag.name}
										</span>
									</li>
								))}
							</ul>
						</div>
						<p class="text-gray-400 text-base mt-4 flex-1">{description}</p>
						<div class="flex gap-4 mt-6">
							<a
								href={github}
								target="_blank"
								class="flex items-center gap-3 px-4 py-2 bg-gray-800 text-gray-200 text-sm font-medium rounded-md hover:bg-gray-700 focus:ring focus:ring-gray-500"
							>
								<GitHubIcon class="size-5" />
								<span>C贸digo</span>
							</a>
							<a
								href={link}
								target="_blank"
								class="flex items-center gap-3 px-4 py-2 bg-blue-600 text-white text-sm font-medium rounded-md hover:bg-blue-500 focus:ring focus:ring-blue-400"
							>
								<Link class="size-4" />
								Preview
							</a>
						</div>
					</div>
				</article>
			))
		}
	</div>
</section>
