---

import githubicon from '../../public/icons/github-dark.svg'

const PROJECTS = [
	
	{
		title: 'Pagina Web IEEE UNTELS',
		description:
			'Participé activamente en el desarrollo de interfaces web responsivas utilizando HTML5, CSS3 , JavaScript Y Astro, lo que contribuyó a mejorar tanto el rendimiento como la accesibilidad del sitio',
		link: 'https://ieee-untels.netlify.app/',
		github: 'https://github.com/IEEE-CS-UNTELS/IEEE-UNTELS',
		image: {
			src: '/img/proyecto_iee.jpeg',
		},
	},
	{
		title: 'Master Aula',
		description:
			'Participé en una experiencia de simulación laboral colaborativa, donde desempeñé el rol de desarrollador front-end. Durante el proyecto, desarrollé una aplicación de página única (SPA) utilizando React.js, priorizando la escalabilidad, la experiencia del usuario y buenas prácticas de desarrollo.',
		link: 'https://deploy-c17-15-t-node-react.vercel.app/',
		github: 'https://github.com/emaenriquez/C17-15-t-Node-React',
		image: {
			src: '/img/master_aula.jpeg',
		},
	},
	
];
---

<section class="flex flex-col w-full space-y-10 p-4 md:p-10">
	<h1
		id="projects"
		class="flex items-center align-middle justify-center text-center gap-2 font-semibold text-3xl"
	>
		Proyectos
	</h1>
	<div class="flex flex-col gap-8 m-auto justify-center w-full">
		{
			PROJECTS.map(({ image, title, description, link, github }) => (
				<article class="group flex flex-col lg:flex-row bg-[#1E1E1E] border-gray-600 rounded-lg overflow-hidden shadow-md transition-all duration-300 hover:shadow-lg w-full mx-auto">
					<div class="lg:w-1/2 w-full overflow-hidden">
						<img
							loading="lazy"
							src={image.src}
							sizes="
								(max-width: 600px) 600px, 
								(max-width: 1024px) 800px, 
								1200px
							"
							alt={`Vista previa de ${title}`}
							class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-110 group-focus:scale-110"
						/>
					</div>

					<div class="flex flex-col flex-1 p-6 lg:p-8 lg:w-1/2">
						<h1 class="text-xl font-semibold text-gray-200">{title}</h1>
						<p class="text-gray-400 text-base mt-4 flex-1">{description}</p>
						<div class="flex gap-4 mt-6">
							<a
								href={github}
								target="_blank"
								class="flex items-center gap-3 px-4 py-2 bg-gray-800 text-gray-200 text-sm font-medium rounded-md hover:bg-gray-700 focus:ring focus:ring-gray-500"
							>
								<img src={githubicon.src} alt="GitHub" class="size-5" />
								<span>Código</span>
							</a>
							<a
								href={link}
								target="_blank"
								class="flex items-center gap-3 px-4 py-2 bg-blue-600 text-white text-sm font-medium rounded-md hover:bg-blue-500 focus:ring focus:ring-blue-400"
							>
								Preview
							</a>
						</div>
					</div>
				</article>
			))
		}
	</div>
</section>
